body {
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    padding: 60px;
}

input {
    width: 100%;
    font-size: 1.2rem;
    color: #aaaaaa;
}

.card-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card {
    border: 1px solid #aaaaaa;
    border-radius: 6px;
    overflow: hidden;
    align-items: center;
    margin: .4%;
    min-width: 250px;
    max-width: 400px;
}

.card p {
    padding: 1%;
    text-align: center;
}

.card img {
    width: 100%;
}
